.sb-show-main {
  padding: 20px;
}
.info-table {
  border-collapse: collapse;
}
.info-table td,
th {
  min-width: 80px;
  padding: 4px 10px;
  text-align: center;
  border: 1px solid rgba(191, 191, 191, 1);
}

img {
  max-width: 1000px;
}

.inner_table {
  margin: -20px;
  border: none !important;
}

.widths .col0 {
  width: 90px;
}

.widths .col1 {
  width: 150px;
}

.widths .col2 {
  width: 170px;
}

.widths .col3 {
  width: 150px;
}

.widths .col4 {
  width: 150px;
}

.widths .col5 {
  width: 150px;
}

.widths .col6 {
  width: 170px;
}
